# Visual Studio временные файлы
.vs/
*.user
*.suo
*.VC.db
*.VC.opendb

# Папки сборки
build/
bin/
Debug/
Release/
x64/
x86/

# Логи и временные файлы
*.log
*.tlog
*.tmp

# NuGet пакеты
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# Node.js модули
node_modules/

# Файлы настройки
*.sln.docstates
*.rsp
!Directory.Build.rsp

# MSTest результаты
[Tt]est[Rr]esult*/
*.coverage
*.coveragexml

# Другие временные файлы
*.cachefile
*.pidb
*.aps
*.tmp_proj
*.publishproj
.history/
.mfractor/
.localhistory/
.vshistory/
